html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h3{
    font-weight: 400;
    color: #415269;
}
i{
    color:#90a4ae; 
}
.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*SIDE-MENU*/
.side-menu{
    padding: 25px 30px;  
    flex: 1 0 170px;    
    max-width: 170px;
    font-size: 0.8rem; 
    flex: 0 0 170px;
    
}

h3 i{
    color:#7460ee;
}
.brand-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    padding-bottom: 0px;
}
.span-bar{
    display: block;
    margin: 2px 0px;
    width: 15px;
    height: 2px;
    background-color: #90a4ae;     
}
.brand-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar{
    list-style-type: none;
    background-color: #fefefe;  
   
    box-sizing: border-box;
}
#cloud{
    color: #7460ee;
}

.aside-sub-header{
    font-family: sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #7460ee;
    font-size:15px;
    display: flex;
    justify-content: space-between;
}
h4 ,h4 span{
    color: #7460ee; 
    margin-right: 15px;
    font-weight: 450;
}

.btn-arrow-bottom{
   outline: none;
   border: none;
   background-color:transparent;
   color: #90a4ae;   
}
/*h4::after{
   content:"";
   border-style: solid;
   border-width: 5px  5px  0 5px;
   border-color:  rgb(209, 198, 198) transparent transparent transparent ;
}*/
.branding-head{
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0px;
}
ul .aside-item {
    list-style: none;
    padding: 15px 0px;
    font-family: sans-serif;
    color:  #90a4ae;
    font-size: 0.9rem;
    transition: .6s ease; 
    position: relative;
    z-index: 1;
    font-size:0.9em;
}
.aside-item:hover, 
.aside-item:hover li{
    color: #7460ee;
}
ul{
    padding-left: 0px;
    width: 200px;
    margin: 10px 0px;
    position: relative;
}
a{
    text-decoration: none;
    color: #90a4ae;       
}
ul span{
    padding-right: 10px;
}
ul .aside-item::before{
    content: "";
    position: absolute;
    left:-30px;
    background-color: #d2ccf8;
    height: 100%;
    z-index:-1;
    transition: .3s ease;
    width: 0px;
    top: 0px;
    box-sizing: border-box;
}
.aside-item:hover::before{
    width: 230px;   
    border-left:3px solid #7460ee;
}
/*End : Side menu*/
/*Main*/
.main-content{
   background-color:#f4f8f9;
   display: flex;
   flex-direction: column;
   border-left: 1px solid #e8eff1;
}
.main-header{ 
    width: 100%;
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8eff1;
    color: #90a4ae; 
    background-color: white;
    flex-shrink: 0;
    margin: 0;
}
 .header-left{
     margin-left: 15px;
     height: 70px;
     display: flex;
     align-items: center;
     width: 20px;
     width: 220px;
 }
 .search-btn{
     transition: .4s ease all;
     width: 30px;
    height: 30px;
     border-radius:50%;
     background-color: #7460ee;
    justify-content: center;
    display: flex;
    align-items: center;
 }
 .fa-search{
     color:white;
     font-size: 20px;
   }
input[type="text"]{
    outline: none;
    border: none;
    transition: .4s all;
    width: 0;
    background-color:#90a4ae; 
    padding: 8px 0px;
    margin: 0 5px;
    border-radius: 50px;
    font-size: 17px;
    color: white;
}
.header-left ::placeholder{
    color: white;
}
.search-btn:focus + input{
    background-color: #90a4ae; 
    width: 180px; 
}
input:focus{
    width: 180px;  
}

.header-center i{  
    color: #7460ee;
 }

.header-right{  
    box-sizing: border-box;  
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 20px;
 }


 .button{ 
     box-sizing: border-box;
     color: #90a4ae;
     font-family: sans-serif;
     box-sizing: border-box; 
     padding: 0px;
     outline: none;
     border: none;
     background:transparent;
 }
.menu-element{
    margin:0 10px;
    box-sizing: border-box;
 }
 ::placeholder{
    color: #90a4ae; 
    font-family: sans-serif;
    font-weight: 500
 }
 /*main-detials*/
.section-header{
display: flex;
font-size: 0.9em;
justify-content: space-between;
box-sizing: border-box;
}
.left-subheader{
    color: #90a4ae;
    display: flex;
    justify-content: space-around;
    flex: 1 0 35%;
    max-width: 35%;
    align-items: center;
    font-size: 0.8em;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #7460ee;
    position: relative;
    font-size:29px;
}
h2::after{
    content:"";
    border-style: solid;
    border-width: 5px  5px  0 5px;
    position: relative;
    top: 20px;
    left: 5px;
    border-color:  rgb(209, 198, 198) transparent transparent transparent ;
}
.bold-txt{
font-weight: 600;
color:rgb(75, 88, 90);
}
.bold-txt::after{
    content:"";
    border-style: solid;
    border-width: 5px  5px  0 5px;
    position: relative;
    top: 10px;
    left: 4px;
    border-color:  rgb(209, 198, 198) transparent transparent transparent ;  
}

 /**/
 .table-head{
    display: flex;
    justify-content: space-between;
} 
.main-data{
  display: flex;
  flex:1 0 auto;
  align-items: center;
}
.main-data p{
    margin-left: 20px;
    font-size: 13px;    
    color: #b3b7b9;
}
.content-btn{
    margin: auto;
    justify-content: flex-end;
    margin-right: 50px;   
}
.main-title {
    font-family: sans-serif;
    padding: 0px;
    display: flex;
    margin: 10px 15px;
    font-weight: 100;
    font-size: 35px;
    color:  #7460ee; 
}
.element-weight{
    color: rgb(73, 83, 88);
    font-weight: 500;
}

.content-btn{
    justify-content: flex-end;
    display:flex;
    flex:1 0 auto;
    align-items: center;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.right-subheader{
  align-items: center;
  display: flex;
  flex: 1 0 270px;
  max-width: 270px;
  justify-content: space-around;
  margin-right: 20px;
}
.more-info{
    padding: none;
    margin-right: 0px;
    height: 40px;   
    background-color: #d8f1fa;
    color: #00acfe;
    outline: none;
    border: none;
    font-weight: 800;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.btn-operation{
    border: none;
    outline: none;
    background-color: white;
    color:  #b3b7b9;
    padding: 10px;
    height:40px;  
    border-radius: 3px;
    box-sizing: border-box; 
    cursor: pointer;    
}
.btn-add-contact{
    background-color: rgb(39, 169, 248);
    color: white;
}
/*
h3::after{
    content: "";
    position: relative;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: rgb(209, 198, 198) transparent transparent transparent;
   
}*/


/* Details*/
.section-container{
    flex-grow: 1;
    overflow: auto;
}
.user-details{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
}
.box{
    width: 30%;
    background-color: white;
    margin: 10px 15px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .5s all;
}
  
.box:hover{
    background-color: #f4f8f9;
    box-shadow: 2px 2px 2px 2px rgba(141, 137, 137, 0.9);
}
.profile-img{
    margin: 0;
}
img{
    max-width: 45px;
    max-height:45px ;
    border-radius: 70px;
}

.info{
    text-align:left;
    font-size: 12px; 
    align-items: center;
    display: flex;    
}
.brand-details{
    display: flex;
    flex-grow: 1 0 auto;
}
.box h4, .box p{
   color: rgb(56, 67, 73);
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   margin: 1px 0px;
}
.box p{
    color: #b3b7b9;
    font-size:11px;
}
.details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 2px;
    font-size:11px;
}
.tag-btn{
    outline: none;
    border: none;
    color: #00acfe;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #e0ebf0;
    font-size: 10px;
}
.tags{
display: flex;  
padding: 10px 0px;
justify-content: space-between;
align-items: center;
}


.checkbox-btn{
    width: 10px;
    height: 10px;
    border: 2px solid #b5b7b7;
    border-radius: 3px ;
}